@import '../../index.module.scss';

.customDesign__container {
    width: 100%;
    height: 70vh;

    &__header {
        width: 100%;
        height: 11.5vh;
        display: flex;
        border-bottom: 1px solid #EAEAEA;

        &__logo {
            display: flex;
            align-items: center;
            margin-left: 20px;
            border-radius: 90px;

            img {
                width: 60px;
                height: 60px;
                border-radius: 90px;

            }

            div>h3 {
                color: black;
                font-size: 30px;
                font-weight: bold;
                padding-left: 20px;
            }
        }

        &__buttonGroup {
            display: flex;
            align-items: center;
            margin-left: auto;
            margin-right: 10px;

            button {
                margin-right: 10px;
                margin-left: 10px;
                font-size: 13px;
                font-weight: 500;
            }

            &__downloadBtn {
                background-color: $whiteColor;
                color: $blackColor;
                font-weight: bold;
                border: 1.5px solid $blackColor;
            }

            &__downloadBtn:hover .downloadIcon {
                background-color: $primaryColor;
                color: $whiteColor;
                border-color: $primaryColor;
            }

            &__downloadBtn:hover {
                background-color: $primaryColor;
                color: $whiteColor;
                border-color: $primaryColor;
            }

            &__saveBtn {
                background-color: $whiteColor;
                color: $primaryColor;
                font-weight: bold;
                border: 2px solid $primaryColor;
            }

            &__saveBtn:hover .saveIcon {
                background-color: $primaryColor;
                color: $whiteColor;
                border-color: $primaryColor;
            }

            &__saveBtn:hover {
                background-color: $primaryColor;
                color: $whiteColor;
                border-color: $primaryColor;
            }

            &__orderBtn {
                background-color: $primaryColor;
                color: $whiteColor;
                font-weight: bold;
                border: 2px solid $primaryColor;
            }

            &__orderBtn:hover .orderIcon {
                background-color: $primaryColorFade1;
                color: $whiteColor;
                border-color: $primaryColorFade1;
            }

            &__orderBtn:hover {
                background-color: $primaryColorFade1;
                color: $whiteColor;
                border-color: $primaryColorFade1;
            }

            &__signInBtn {
                background-color: $primaryColor;
                color: $whiteColor;
                font-weight: bold;
                border: 2px solid $primaryColor;
            }

            &__signInBtn:hover {
                background-color: $primaryColorFade1;
                color: $whiteColor;
                border-color: $primaryColorFade1;
            }

            &__signInBtn:hover .signInIcon {
                background-color: $primaryColorFade1;
                color: $whiteColor;
                border-color: $primaryColorFade1;
            }
        }
    }

    &__canvas {
        overflow: hidden;
        position: relative;
        width: 25%;
        height: 60vh;
        float: right;
        transition-property: all;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-duration: 300ms;
        transition-timing-function: cubic-bezier(0.4, 0, 1, 1);
        border-bottom: 1px solid #EAEAEA;

    }

    ;

    &__editorArea {
        width: 75%;
        height: fit-content;
        align-items: center;
        text-align: center;
        justify-content: center;
        align-content: center;
        float: left;

        &__itemSelector {
            width: 31.34%;
            height: 80vh;
            float: left;

            &__buttonGroup {
                border-right: 1px solid #EAEAEA;

                &__sampleModelBtn,
                &__editorModelBtn {
                    background-color: $whiteColor;
                    color: $blackColor;
                    font-weight: bold;
                    border: 1.5px solid $blackColor;
                    margin: 0.5em;
                    // 

                }

                &__sampleModelBtn:hover,
                &__editorModelBtn:hover {
                    background-color: $primaryColor;
                    color: $whiteColor;
                    border-color: $primaryColor;

                }

            }

            &__itemGroup {
                width: 100%;
                height: 100%;
                border: 1px solid $grayColor;
                // display: flex;

                &__menuEditor {
                    width: 15%;
                    height: 100%;
                    background-color: $grayColor1;
                    float: left;


                    button {
                        width: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        padding-top: 15px;
                        padding-bottom: 15px;

                    }
                }

                &__menuTabBarProduct {
                    width: 85%;
                    // display: flex;
                    float: left;
                }

                &__menuTabBar {
                    width: 85%;
                    height: 8vh;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    button {
                        background-color: transparent;
                        color: $blackColor;
                        margin-left: 20px;
                        margin-right: 20px;
                        font-weight: 400;
                        border-radius: 0;
                        font-weight: 500;
                    }
                }

                &__sampleItemList {
                    width: 85%;
                    height: 70vh;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-wrap: wrap;
                    overflow: auto;
                }

                &__sampleItemList::-webkit-scrollbar {
                    width: 5px;
                    /* Width of the scrollbar */
                    height: 12px;
                    /* Height of the scrollbar */
                }

                &__sampleItemList::-webkit-scrollbar-track {
                    background: #f1f1f177;
                    /* Background of the track */
                    border-radius: 10px;
                    /* Optional: Rounded corners */
                }

                &__sampleItemList::-webkit-scrollbar-thumb {
                    background: $grayColor;
                    /* Color of the scrollbar thumb */
                    border-radius: 10px;
                    /* Optional: Rounded corners */
                }

                &__sampleItemList::-webkit-scrollbar-thumb:hover {
                    background: #888787;
                    /* Color when hovering over the scrollbar thumb */
                }

                &__sampleCollectionList {
                    width: 85%;
                    height: 70vh;
                    // display: flex;
                    justify-content: center;
                    // align-items: center;
                    flex-wrap: wrap;
                    overflow: auto;
                }

                &__sampleCollectionList::-webkit-scrollbar {
                    width: 5px;
                    background-color: $grayColor;
                    height: 10px;
                    /* Width of the scrollbar */
                }

                &__modelProductList {
                    width: 85%;
                    height: 65vh;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-wrap: wrap;
                    overflow: auto;
                }

                &__modelProductList::-webkit-scrollbar {
                    width: 5px;
                    background-color: $grayColor;
                    height: 10px;
                    /* Width of the scrollbar */
                }


            }
        }

        &__partOfCloth {
            width: 10%;
            height: 85vh;
            border-left: 1px solid #EAEAEA;
            border-right: 1px solid #EAEAEA;
            justify-content: center;
            align-items: center;
            align-content: center;
            overflow-y: auto;
            float: right;
        }


        &__partOfCloth::-webkit-scrollbar {
            width: 3px;
            /* Width of the scrollbar */
        }

        &__partOfCloth::-webkit-scrollbar-thumb {
            background-color: #ccc;
            /* Color of the scrollbar thumb */
            border-radius: 10px;
            /* Radius of the scrollbar thumb */
        }

        &__partOfCloth::-webkit-scrollbar-track {
            background-color: transparent;
            /* Background color of the scrollbar track */
        }

        &__menu {
            position: absolute;
            // height: 100vh;
            left: 0;
            align-items: center;
            justify-content: center;

            // &__tab {
            //     padding-top: 40vh;
            // }
        }

        &__display {
            // overflow-y: auto;
            float: right;
            margin: 0 auto;
            pointer-events: none;


            &__displayDesign {
                // position: relative;
                width: 500px;
                height: 500px;
                overflow: hidden;
                pointer-events: none;

            }

            &__menuBar {
                position: relative;
                width: 600px;
                height: 58px;
                border-top: 0;
                // transform: translate(110%, 0%);
                margin-bottom: 20px;

            }
        }



    }
}

.partOfClothSellector {
    position: relative;
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 0 auto;
    margin-top: 20px;
    border-radius: 8px;


    &__img {
        position: relative;
        width: 80%;
        height: 80%;
        justify-content: center;
        align-items: center;
        align-content: center;
        margin: 0 auto;
        border-radius: 8px;

    }

    &__img:hover {
        cursor: pointer;

    }
}

.menuEditor__icon {
    color: $blackColor;
}

.sampleItemCard {
    position: relative;
    width: 130px;
    height: 130px;
    background-color: $grayColor;
    float: left;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 8px;

    &__icon {
        position: absolute;
        bottom: 10px;
        right: 10px;
        color: black;
    }
}

.sampleItemCard:hover {
    cursor: pointer;
}

.menuTabBar__createBlank__btn {
    width: 85%;
    border: 1px dashed $grayColor;
    padding-bottom: 20px;

    span {
        color: $blackColor;
        font-size: 13px;
    }
}

.menuTabBar__viewSample__btn {
    width: 85%;
    display: flex;
    margin: 10px;
    margin-left: 8%;
    align-items: center;
    background-color: $grayColor;
    border-radius: 3px;
    border: 1px solid $grayColor;

    &__img {
        width: 30px;
        height: 40px;
        margin-left: 10px;
    }

    &__content {
        width: 60%;
        display: flex;
        margin-left: 10px;

        span {
            color: $blackColor;
            font-size: 10px
        }
    }
}

.menuTabBar__viewSample__btn:hover {
    background-color: rgba($color: $primaryColorFade1, $alpha: 0.5);
    border: 1px solid $primaryColor;
}