.imageDraggable__resizeable {
    position: absolute;
    z-index: 11;
    width: 250px;
    height: 300px;
    border: 1px solid black;
}

.imageDraggable__resizeable:hover{
    cursor: grab;
}

.imageDraggable__boundary {
    position: relative;
    width: 450px;
    height: 500px;
    border: 1px dashed black;
    display: flex;
    align-items: center;
    transform: translate(15%, 0%);
}

.imageDraggable__centerWrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.imageDraggable__img {
    position: absolute;
    width: 250px;
    height: 300px;
    border: 1px solid black;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}