@import '../../../index.module.scss';

.orderProcessing__container {
    background-color: $whiteColor;
    // width: 100%;


    &__group {
        display: flex;
        width: 100%;
        justify-content: center;

        &__stepper {
            width: 20%;
            margin-top: 2%;
        }

        &__detail {
            margin-top: 10%;
            margin-bottom: 10%;

        }
    }

    &__detail {
        width: 90%;
    }
}

.high__zindex {
    z-index: 999999999 !important;
}

.orderProcessing__orderStatus__tag {
    padding: 5px 10px 5px 10px;
    background-color: $secondaryColor;
    color: $whiteColor;
    width: fit-content;
    border-radius: 20px;
    font-size: 13px;
}

.content__section {

    &::-webkit-scrollbar {
        width: 3px;
    }

    &::-webkit-scrollbar-track {
        background: $grayColor1;
        border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb {
        background: #7b7b7b;
        border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb:hover {
        background: #7b7b7b;
        /* Color when hovering over the scrollbar thumb */
    }

    margin-bottom: 20px;

    strong {
        font-size: 14px;
    }

    p {
        font-size: 13px;
        padding-left: 10px;
    }

    ul {
        padding-left: 20px;
        margin-top: 10px;


        p {
            list-style-type: disc;
            margin-bottom: 5px;
            font-size: 13px;

        }
    }

    li {
        margin-bottom: 5px;
        font-size: 13px;
        padding-left: 10px;

    }
}