@import'../../../../../index.module.scss';

.sampleModel__dialogContent {
    &::-webkit-scrollbar {
        width: 3px;
    }

    &::-webkit-scrollbar-track {
        background: $grayColor1;
        border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb {
        background: #7b7b7b;
        border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb:hover {
        background: #7b7b7b;
        /* Color when hovering over the scrollbar thumb */
    }
}