@import '../../../index.module.scss';

.orderDetail__container {
    background-color: $whiteColor;
    width: 100%;


    &__group {
        display: flex;
        width: 100%;
        justify-content: center;

        &__stepper {
            width: 20%;
            margin-top: 2%;
        }

        &__detail {
            margin-top: 10%;
            margin-bottom: 10%;

        }
    }
}

.high__zindex{
    z-index: 999999999 !important;
}