$primaryColor: #E96208;
$primaryColorFade1: #ee7626;
$secondaryColor: #4F46E5;
$grayColor: #EAEAEA; 
$grayColor1: #f7f7f7; 
$whiteColor: #ffffff; 
$blackColor: #000000;
$errorColor: #DB0F00;
$greenColor: #37B358;
$yellowColor: #F6BE19;
$redColor: #E74032;
